.voteBar {
  color: white;
  background: red;
  padding: 10px;
  margin-right: 5px;
}

/*.voteBar:hover{*/
/*  background: green;*/
/*}*/

.voteBarHover{
  color: white;
  background: green;
  padding: 10px;
  margin-right: 5px;
  font-style: normal;
}
